
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');




@font-face {
    font-family: 'minus.regular';
    font-style: normal;
    font-weight: normal;
    src:  url('../assets/fonts/minus_woff/minus.regular.woff'), local('minus.regular'), format('woff');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #7a7171;
} 

html {
    scroll-behavior: smooth;
}

h2 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.6rem;
    color:white;
}

a,
.btn {
    transition: all 700ms ease;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 4.5rem;
    background-color: rgb(24, 23, 23);
    background-image: url(../assets/images/background7.png);
}

.logo {
    font-family: 'minus.regular';
    font-weight: regular;
    font-size: 3.5rem;
    color: white;
    cursor: default;
    letter-spacing: .8rem;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2.5rem;
    --bg-h: 2px;
}

a {
    text-decoration: none;
    transition: color 0.3s ease;
    color: #c7c1c1;
}

a:hover {
    color: gray;
    outline: none;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
    /* Provide a fallback style for browsers
that don't support :focus-visible */
    outline: none;
    background: lightgrey;
}

a:focus:not(:focus-visible) {
    /* Remove the focus indicator on mouse-focus for browsers
that do support :focus-visible */
    background: transparent;
}

a:focus-visible {
    /* Draw a very noticeable focus style for
keyboard-focus on browsers that do support
:focus-visible */
    outline: 2px solid red;
    background: transparent;
}

.link {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    color: white;
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link::before {
    content: '';
    /* show by default */
}

.link--dia {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    letter-spacing: 0.3rem;  
    font-size: 1rem;
    font-weight: bolder;
}

.link--dia::before,
.link--dia::after {
    opacity: 0;
    transform-origin: 50% 0%;
    transform: translate3d(0, 3px, 0);
    transition-property: transform, opacity;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.8, 1);
}

.link--dia:hover::before,
.link--dia:hover::after {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition-timing-function: cubic-bezier(0.2, 0, 0.3, 1);
}

.link--dia::after {
    content: '';
    top: calc(100% + 4px);
    width: 70%;
    left: 15%;
}

.link--dia::before,
.link--dia:hover::after {
    transition-delay: 0.1s;
}

.link--dia:hover::before {
    transition-delay: 0s;
}

.btn {
    position: relative;
    width: 10.8rem;
    height: 2.5rem;
    overflow: hidden;
    border: 1px solid white;
    transition: 0.5s;
    border-radius: 1.5rem;
}

.btn button {
    width: 101%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: .6rem;
    font-weight: 400;
    letter-spacing: 0.08rem;
    background: white;
    -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
    mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
    -webkit-mask-size: 3000% 100%;
    mask-size: 3000% 100%;
    border: none;
    color: black;
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(29) forwards;
    animation: ani2 0.7s steps(29) forwards;
}

.btn button:hover {
    -webkit-animation: ani 0.7s steps(29) forwards;
    animation: ani 0.7s steps(29) forwards;
}

.mas {
    position: absolute;
    color: black;
    text-align: center;
    width: 101%;
    font-family: "Open Sans", sans-serif;

    margin-top: 13px;
    overflow: hidden;
    font-weight: 700;
}

@keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}

@keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}

#hamburger-nav {
  display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
    z-index: 1001; 
}

.hamburger-icon {
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 1002;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55); 
}

.hamburger-icon span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 2px;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.hamburger-icon span:nth-child(1) {
    top: 0;
    transform-origin: left center;
    color: #040D12;
}

.hamburger-icon span:nth-child(2) {
    top: 8px;
    transform-origin: left center;
    color: #040D12;
}

.hamburger-icon span:nth-child(3) {
    top: 16px;
    transform-origin: left center;
    color: #040D12;
}

.menu-links {
    position: fixed;
    top: 0;
    right: -300px; 
    background-color: black;
    width: 300px; 
    height: 100%;
    overflow-y: auto;
    box-shadow: -2px 0 5px rgba(99, 99, 99, 0.2); 
    transition: right 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55), transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55); 
    z-index: 999; 
    padding-top: 50px; 
    transform: translateX(0); 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
}

.menu-links li {
    display: block;
    padding: 10px 20px;
    font-size: 0.75rem;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.hamburger-icon.open span:nth-child(1) {
    transform: rotate(45deg) translate(3px, 0px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:nth-child(3) {
    transform: rotate(-45deg) translate(3px, 0px);
}

.menu-links.open {
    right: 0; 
    transform: translateX(0); 
}

.btn-mobile {
    position: relative;
    width: 6.8rem;
    height: 2.5rem;
    margin-top: 3rem;
    overflow: hidden;
    border: 1px solid #2b2929;
    transition: 0.5s;
    letter-spacing: 0.08rem;
    border-radius: 1.5rem;
}

.btn-mobile button {
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: .6rem;
    font-weight: 400;
    letter-spacing: 0.08rem;
    background: #2b2929;
    -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
    mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
    -webkit-mask-size: 3000% 100%;
    mask-size: 3000% 100%;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(29) forwards;
    animation: ani2 0.7s steps(29) forwards;
}

.btn-mobile button:hover {
    -webkit-animation: ani 0.7s steps(29) forwards;
    animation: ani 0.7s steps(29) forwards;
}

.mas {
    position: absolute;
    color: rgb(248, 240, 240);
    text-align: center;
    width: 101%;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    letter-spacing: 0.08rem;
    font-size: 0.6rem;
    margin-top: 13px;
    overflow: hidden;
    font-weight: 700;
}

@keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}

@keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}









section {
    padding-top: 2vh;
    box-sizing: border-box;
    min-height: fit-content;
}

#profile-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    min-height: 75vh;
    padding: 0 4rem 3rem;
    position: relative;
    background-color: rgb(24, 24, 24);
    background-image: url(../assets/images/background7.png);
}

.profile__image-container {
    display: flex;
    height: 650px; 
    width: 650px;
    margin-left: 1rem;
    animation: slideUpFade 1s ease-out forwards;  
}

.profile__image {
    animation: upDown 2s ease-in-out infinite;
}

@keyframes upDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

.profile__text {
    align-self: center;
    animation: slideUpFade 1s ease-out forwards;
}

.profile__text__head {
    font-family: "Bebas Neue", sans-serif;
    color: rgb(187, 186, 175);
    font-size: 2.8rem;
    margin-bottom: 0.4rem;
}

.title {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 7.7rem;
    letter-spacing: 0.5rem;
    line-height: 7.5rem;
    margin-bottom: 0.8rem;
    color: rgb(231, 213, 213);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}

.profile__text__tail {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 0.5rem;
    max-width: 40rem;
    color: rgb(119, 115, 115);
}

.profile__text__tail .highlighted {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#a58540;
    font-size: 1.3rem; 
}

a.break {
    position: relative;
    top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    display: inline-block;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 238, 0);
    font-size: 1.2rem;
    overflow: hidden;
    animation-duration: 1s;
    animation-fill-mode: both;
}

a.break span {
    display: block;
    transition: transform 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

a.break:after {
    content: attr(data-link-alt);
    display: inline;
    position: absolute;
    transition: top 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    top: 80%;
    left: 0;
    right: 0;
    text-align: center;
}

a.break:hover {
    cursor: grab;
}

a.break:hover span {
    transform: translateY(-100%);
}

a.break:hover:after {
    top: 0;
}

a.break:active {
    animation-name: rubberBand;
    cursor: grabbing;
}

#socials {
    font-size: 1.5rem;
}

.fa-brands {
    margin-right: .2rem;
}



@keyframes slideUpFade {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#about-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem 10rem 0;
    min-height: 45vh;
    background-image: url(../assets/images/background3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-items: center;
}

.about__text {
    padding-top: 7rem;
    max-width: 35rem;
}

.about-head {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 5rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.1rem;
    color:#a58540;
}

.about-body {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2rem;
    color:#040D12;
}

.img-2 {
    width: 33rem;
}

.img-3 {
    width: 32rem;
}

.about__languages {
    padding-top: 5rem;
    max-width: 35rem;
}

#tools {
    font-size: 2rem;
    text-align: center;
    margin-top: 0.8rem;
}

#tools
    .fa-brands {
    margin-right: 1rem;
}

  @keyframes dropIn {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.navbar-animate {
    animation: dropIn 1s ease-out forwards;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


.typing-effect {
    display: inline-block;
    overflow: hidden; 
    white-space: nowrap; 
    animation: typing 4.5s steps(30, end), blink 0.75s step-end infinite;
    opacity: 100%;
    box-sizing: border-box;
}

/* Initial state for the title */
.title {
    transform: translateY(100px) rotate(-20deg); /* Starts from below and rotated */
    opacity: 0; /* Initially hidden */
    transition: transform 0.3s ease-out, opacity 1s ease-out; /* Smooth transition */
}

/* On page load, when title becomes visible */
.title.visible {
    transform: translateY(0) rotate(0); /* Moves to its final position and angle */
    opacity: 1; /* Fully visible */
}











  
  
  
  
  


